body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header { 
    position: fixed; 
    top: 0; 
    width: 110%; 
    z-index: 1000; 
}

footer { position: fixed; 
    bottom: 0; 
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    margin-bottom: 100px;

}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"] {
    padding: 20px;
    margin-top: 5px;
    border: 3px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
    border: 10px;
}

button:hover {
    background: #555;
}

.user-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.user-card img {
    max-width: 100px;
    border-radius: 50%;
}

.user-card h2 {
    margin: 0;
    color: #333;
}

.user-card p {
    margin: 5px 0;
    color: #666;
}
.logo-site {
    height: 20px;
}

.user-image {
    height: 12px;
}
.logo-site {
    height: 20px;
}

.logo-footer {
    height: 20px;
}

.user-image {
    height: 100px;
}
.footer {

}